.list {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;
	flex-wrap: wrap;
}

.selected {
	border-color: var(--text-color);
	border-width: 1px;
	border-style: solid;
}

.hideOnPhone {
	visibility: visible;
}

@media only screen and (max-width: 578px) {
	.list {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.hideOnPhone {
		visibility: hidden;
		display: none;
	}
}