.about {
	user-select: text;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow-y: scroll;
	margin-top: 2rem;
	padding-bottom: calc(1.5 * var(--nav-height));
}

.image {
	margin-bottom: 1rem;
}

.navBackground {
	width: 100%;
	height: var(--nav-height);
	position: fixed;
	background-color: var(--main-color);
	bottom: 0;
	pointer-events: none;
}

.navBackground::before {
	background: linear-gradient(0deg, #F5F5F5 7.67%, rgba(255, 255, 255, 0) 99.94%);
	content: "";
	height: var(--nav-height);
	position: absolute;
	width: 100%;
	bottom: var(--nav-height);
}

.description {
	padding: 0 0.5rem;
	padding-bottom: 1rem;
}

.audio {
	width: 100%;
	margin: 1rem;
}