.category {
	flex: 1 1 1px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: calc(1rem * 2 + 0.2rem + 1rem);
}

.progressContainer {
	position: fixed;
	top: 0;
	bottom: 0;
	width: min(50vw, 5rem);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	pointer-events: none;
}

.progressButton {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 5vmin;
	width: 3rem;
	height: 3rem;
	pointer-events: all;
}

.image {
	position: absolute; 
	object-fit: contain;
	padding: 3rem;
}

.image:checked {
	cursor: grabbing;
}

.animated {
  background-size: cover;
  box-shadow: var(--shadow);
  will-change: transform;
  touch-action: none;
  user-select: none;
  overflow: hidden;
}